body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

button {
    margin: 5px;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 5px;
    
}
button:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
}

li {
    margin: 5px 0;
}

#total {
    font-weight: bold;
    margin-top: 20px;
    font-size: 1.25rem;
}