body {
    margin: 0;
    padding : 0;
    background-color : #a0e7ff;
    color: white;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    min-height: 100vh;
}
#aquarium {
    background-image:url('../assets/aquarium-background.png');
    background-size: cover;
    width: 800px;
    aspect-ratio: 16/8;
    border: spx solid white;
}